:root {
    /* Fonts */
    --title-font: "Josefin Sans";
    --subtitle-font: "Montserrat";
    --text-font: "Arial";

    /* Base Theme */
    --primary-color: var(--primary-color_simples);
    --secondary-color: var(--secondary-color_simples);
    --tertiary-color: var(--tertiary-color_simples);
    --accent-color: var(--accent-color_simples);
    --extra-color: var(--extra-color_simples);

    --background-color: var(--background-color_simples);
    --box-background-color: var(--box-background-color_simples);
    --box-outline-color: var(--box-outline-color_simples);

    /* Simples Theme */
    --primary-color_simples: #1A1A1A;
    --secondary-color_simples: #4A4A4A;
    --tertiary-color_simples: #A8A8A8;
    --accent-color_simples: #B0B0B0;
    --extra-color_simples: #595959;

    --background-color_simples: #F9F9F9;
    --box-background-color_simples: #FFFFFF;
    --box-outline-color_simples: #D5D5D5;

    /* Técnico Theme */
    --primary-color_tecnico: #E5E5E5;
    --secondary-color_tecnico: #F4F4F4;
    --tertiary-color_tecnico: #575757;
    --accent-color_tecnico: #FFDC4A;
    --extra-color_tecnico: #C4C4C4;

    --background-color_tecnico: #111111;
    --box-background-color_tecnico: #202020;
    --box-outline-color_tecnico: #444444;
}

/* General */

button {
    background: inherit;
    border: none;
    padding: 0;
    margin: 0;
    outline: inherit;
    cursor: inherit;
}

input[type="text"] {
    border: none;
    padding: 0;
    cursor: text;
    outline: inherit;
}

.section {
    transition: opacity 0.6s ease, transform 0.6s ease;
    opacity: 1;
    transform: translateY(0);
    will-change: opacity, transform;
}

.section.hidden {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}

.inverse-filter {
    filter: invert(1);
}

.arrow-filter {
    filter: brightness(0) saturate(100%) invert(99%) sepia(7%) saturate(23%) hue-rotate(169deg) brightness(113%) contrast(91%);
}

.logo-active {
    position: absolute !important;
    opacity: 1 !important;
}

.logo-hidden {
    opacity: 0 !important;
}

/* Body, Main */

#page {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--background-color);
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    transition: .8s ease;
}

#input {
    display: grid;
    grid-template-rows: 2.5fr 2.9fr;
    transition: .8s ease;
}

/* Header, Content (Separations) */

#title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glow-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120vw;        /* wider */
    height: 15vh;        /* smaller height */
    transform: translate(-50%, -50%);
    z-index: -1;

    background:
            radial-gradient(ellipse at 30% 50%, #bbbbbb, transparent 45%),
            radial-gradient(ellipse at 70% 50%, #9f9f9f, transparent 45%),
            radial-gradient(ellipse at 50% 50%, #626262, transparent 50%);

    filter: blur(90px);
    animation: centerGlow 3s ease-in-out infinite alternate;
}

@keyframes moveGlow {
    0% {
        background-position: 0 0, 100% 100%, 50% 50%;
    }
    100% {
        background-position: 100% 50%, 0 50%, 50% 0;
    }
}

/* Header */

.logo {
    pointer-events: none;
    height: 165px;
    width: 165px;
    margin-bottom: 38px;
    margin-right: -5px;
    transition: .8s ease;
}

#title {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 100px;
    color: var(--primary-color);
    font-family: var(--title-font), sans-serif;
    font-size: 5rem;
    font-weight: 700;
    transition: .8s ease;
}

#subtitle {
    margin-top: -34px;
    color: var(--secondary-color);
    font-family: var(--subtitle-font), sans-serif;
    font-size: 1.1rem;
    font-weight: 440;
    transition: .8s ease;
}

/* Main - Input */

#switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    width: 100%;
    max-width: 940px;
    margin-bottom: 30px;
    background-color: var(--box-background-color);
    border: 2px solid var(--box-outline-color);
    border-radius: 30px;
    transition: .8s ease;
}

#input-text {
    flex: 1;
    padding: 10px 5px;
    margin-left: 15px;
    border-radius: inherit;
    background-color: var(--box-background-color);
    color: var(--secondary-color);
    font-family: var(--subtitle-font), sans-serif;
    font-size: 1.3rem;
    font-weight: 420;
    transition: .8s ease;
}

#explicar-button {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 7px 14px;
    margin-right: 20px;
    background-color: var(--box-background-color);
    border: 2px solid var(--box-outline-color);
    border-radius: 30px;
    cursor: pointer;
    transition: .8s ease;
}

#explicar-button_text {
    color: var(--secondary-color);
    font-family: var(--subtitle-font), sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    transition: .8s ease;
}

#explicar-button_arrow {
    width: 16px;
    height: 16px;
    transition: .8s ease;
}

/* Main - Mode */

#mode-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    width: 100%;
    max-width: 255px;
    background-color: var(--box-background-color);
    border: 2px solid var(--box-outline-color);
    border-radius: 30px;
    transition: .8s ease;
}

.mode-text {
    margin: 4px auto 0 auto;
    font-family: var(--title-font), sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
}

#simples {
    color: var(--primary-color);
    transition: .8s ease;
}

.simples-active {
    color: var(--tertiary-color) !important;
    transition: .8s ease;
}

#tecnico {
    color: var(--tertiary-color);
    transition: .8s ease;
}

.tecnico-active {
    color: var(--accent-color_tecnico) !important;
    transition: .8s ease;
}

#switch-input {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 3.4em;
    height: 1.5em;
    background-color: var(--box-background-color);
    border: 2px solid var(--box-outline-color);
    border-radius: 30px;
    transition: .8s ease;
}

#switch-input input {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

#switch-input_circle {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 1.1em;
    width: 1.2em;
    border-radius: 50%;
    background-color: var(--box-outline-color);
    transition: 0.4s;
}

#switch-input input:checked + #switch-input_circle {
    left: calc(100% - 1.2em - 5px);
    background-color: var(--accent-color_tecnico);
}

/* Footer */

#copyright {
    display: flex;
    justify-content: center;
}

#copyright-text {
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 18px;
    color: var(--secondary-color);
    font-family: var(--subtitle-font), sans-serif;
    font-size: 0.7rem;
    transition: .8s ease;
}

/* Loading */

#loading {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .8s ease;
}

#loading-text {
    color: var(--extra-color);
    opacity: 0;
    font-family: var(--title-font), sans-serif;
    font-size: 2.45rem;
    margin-bottom: 25px;
    transition: .8s ease;
}

#loading-logo {
    pointer-events: none;
    width: 120px;
    height: 120px;
}

/* Output */

#return-output {
    display: none;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 20px;
    transition: .8s ease;
}

/* Output - Button */
#explicar-button_return {
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: end;
    grid-column: 1;
    grid-row: 2;
    gap: 13px;
    padding: 7px 14px;
    background-color: var(--box-background-color);
    border: 2px solid var(--box-outline-color);
    border-radius: 30px;
    cursor: pointer;
}

#explicar-button_return__text {
    color: var(--secondary-color);
    font-family: var(--subtitle-font), sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

#explicar-button_return__arrow {
    width: 16px;
    height: 16px;
}

/* Output - Card */
#upper-output_text {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: end;
    justify-self: center;
    color: var(--primary-color);
    font-family: var(--subtitle-font), sans-serif;
    font-size: 1.55em;
    font-weight: 700;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    width: 550px;
    height: 690px;
    background-color: var(--box-background-color);
    border: 2px solid var(--box-outline-color);
    border-radius: 60px;
}

#output-title {
    width: 82.5%;
    text-align: center;
    overflow: auto;
    color: var(--primary-color);
    font-family: var(--title-font), sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 32px;
}

#output-line {
    width: 82.5%;
    height: 2px;
    border: none;
    background-color: var(--box-outline-color);
    margin-bottom: 20px;
}

#output-response {
    width: 84%;
    height: 80%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: scroll;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--subtitle-font), sans-serif;
    font-size: 1.1em;
    font-weight: 440;
}